.chart-header-button {
    background-color: #555;
    color: #ffe;
    padding: 10px;
    border-radius: 0;
}
.chart-header-button:hover {
    outline: 1px solid transparent;
    cursor: pointer;
    -webkit-font-smoothin: antialiased;
    transform: translate3d(0,0,0) rotateZ(2deg);
}
.selected {
    background-color: #ffe;
    color: black;
    border: 1px solid #555;
}
.chart-header-button:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.chart-header-button:nth-of-type(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.side-menu {
    margin-left: auto;   
}
.exchange-rate {
    font-size: large;
    font-weight: bold;
}
.error-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    width: 80vw;
    height: fit-content;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid red;
    display: flex;
}
.close-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.warning-icon {
    margin-left: 5px;
    margin-right: 10px;
}
.dropdown-content {
    height: 500px;
    overflow-y: auto;
}
.dropdown-search {
    position: relative;
    padding: 10px;
    background-color: white;
    display: flex;
}
.dropdown-search .icon {
    margin: auto;
    position: absolute;
    right: 20px;
    top: 30%;
}
.dropdown-search .icon:hover {
    cursor: pointer;
}
.dropdown-search input {
    font-size: large;
    text-align: center;
    padding: 5px;
}